<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="assets/recycle.png" width="30px">
            <div class="brand-icons">
                <span class="las la-bell"></span>
                <span class="las la-user-circle"></span>
            </div>
        </div>
    </div>
    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="assets/admin.png"  width="100px" alt="">
            <div>
                <h3>{{name}}</h3>
                <span>{{email}}</span>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <ul>
            <li><a [routerLink]="['/listar-responsables']"> <span class="las la-address-book" style="font-size: 1.5rem;"></span>Listar responsables</a></li>
            <li><a [routerLink]="['/registrar-responsable']"> <span class="la la-user-plus" style="font-size: 1.5rem;"></span>Registrar responsable</a> </li>
            <li><a [routerLink]="['/registrar-punto-verde']"> <span class="las la-recycle" style="font-size: 1.5rem;"></span>Registrar puntos verdes</a> </li>
            <li><a [routerLink]="['/consultar-vecinos']"> <span class="las la-users" style="font-size: 1.5rem;"></span>Listar vecinos</a></li>
            <li><a [routerLink]="['/consultar-locales']"> <span class="las la-store" style="font-size: 1.5rem;"></span>Listar locales</a></li>
            <li><a href="" (click)="logOut()"> <span class="las la-sign-out-alt" style="font-size: 1.5rem;"></span>Cerrar sesión</a> </li>
           
        </ul>
    
     
    </div>
</div>
<div class="main-content">
    <header>
        <div class="menu-tog">
            <label for="sidebar-toggle">
                <span class="las la-bars"></span>
            </label>
        </div>
        
      
    </header>
    <main>
        <div class="page-header">
            <div>
                <h1>
                    Panel de administración.
                </h1>
                <!-- <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small> -->
            </div>
            <div class="header-actions">
               
                <button>
                    <span class="las la-tools"></span>
                    Soporte
                </button>
            </div>
        </div>
        <div class="cards">
            <div class="card-single">
                <div class="card-flex"> 
                  
                    <iframe
                    [src]="iframeUrl | safeUrl"
                    frameborder="0"
                    width="900"
                    height="500"
                    allowtransparency
                  ></iframe>
                  
                  
                </div>
            </div>
           
            <!-- <div class="card-single">
                <div class="card-flex"> 
                    <div class="card-info">
                        <div class="card-head">
                            <span>Purchase</span>
                            <small>Number of Purchase</small>

                        </div>
                        <h2>123123</h2>
                        <small>2% blablabal</small>
                    </div>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
</div>
<label for="sidebar-toggle" class="body-label"></label>