.mat-mdc-table, .mat-mdc-paginator{
    background-color: transparent;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.cupon-container{
    display: flex
}
.cupon-container mat-card{
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.price{
    background-color: #176100 !important;
    border: 2px solid #176100 !important;
    color: #ffffff !important;
    border-radius: 2rem !important;
}
.unavailable{
    background-color: #af3636 !important;
    border: 2px solid #911e1e !important;
    color: #ffffff !important;
    border-radius: 2rem !important; 
}
.available{
    background-color: #497b9c !important;
    border: 2px solid #2a5f8b !important;
    color: #ffffff !important;
    border-radius: 2rem !important;
}