# ############# ENVIRONMENT ############# #
NODE_ENV=development

# ########### SERVER SETTINGS ########### #
PORT=8080
API_URL=http://localhost:8080
# Opcional — si se omite usa el valor de API_URL
API_PUBLIC_URL=

# ########## RECAPTCHA SETTINGS ########## #
RECAPTCHA_SITE_KEY=<your-recaptcha-site-key>

# ######### GOOGLE MAPS SETTINGS ######### #
GOOGLE_MAPS_API_KEY=<your-google-maps-api-key>
