<app-navbar [title]="'Editar Responsable'"></app-navbar>
<div class="container mt-3">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="firstname">
      @if (form.get('firstname')!.hasError('required')) {
        <mat-error>Ingrese un nombre</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="lastname">
        @if (form.get('lastname')!.hasError('required')) {
          <mat-error>Ingrese un apellido</mat-error>
        }
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input type="number" matInput placeholder="DNI" formControlName="dni">
      @if (form.get('dni')!.hasError('required')) {
        <mat-error>Ingrese un DNI</mat-error>
      }
  </mat-form-field>

    <mat-form-field>
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Nombre de Usuario" formControlName="username">
        @if (form.get('username')!.hasError('required')) {
          <mat-error>Ingrese un Nombre de Usuario</mat-error>
        }
    </mat-form-field>
  
    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <span matTextPrefix>+54 &nbsp;</span>
        <input type="tel" matInput placeholder="3533-4039876" formControlName="phoneNumber">
        @if (form.get('phoneNumber')!.invalid && !form.get('phoneNumber')!.hasError('required')) {
          <mat-error>Ingrese un teléfono válido</mat-error>
        }
        @if (form.get('phoneNumber')!.hasError('required')) {
          <mat-error>Ingrese un teléfono</mat-error>
        }
    </mat-form-field>
    <button mat-raised-button class="w-100" type="submit">Guardar</button>

  </form>
  
</div>
