

.mat-toolbar { 
  color: #fff;
  background: #4f973d;

}

mat-sidenav{
  width: 200px;
  border-right: none;
  padding: 16px 0;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
