

.mat-toolbar { 
  color: #fff;
  background: #0000;//background: #4f973d;
  position: relative;
}

mat-sidenav{
  width: 200px;
  border-right: none;
  padding: 16px 0;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-spacer {
  flex: 1 1 auto;
}
