<app-bottom-sheet>

  <div class="role-hint">Elegí tu perfil para continuar</div>
  <div class="roles">
    <a class="role r-vec" routerLink="/registrar-vecino">
      <span class="ri"><mat-icon>account_circle</mat-icon></span>
      <div class="role-text">
        <b>Vecino</b>
        <span>Reciclá y ganá puntos</span>
      </div>
      <mat-icon class="arr">chevron_right</mat-icon>
    </a>
    <a class="role r-loc" routerLink="/registrar-local">
      <span class="ri"><mat-icon>store</mat-icon></span>
      <div class="role-text">
        <b>Local adherido</b>
        <span>Canjeá cupones</span>
      </div>
      <mat-icon class="arr">chevron_right</mat-icon>
    </a>
  </div>

</app-bottom-sheet>
