<app-navbar [title]="'Mis Cupones'"  [route]="'/vecino'"></app-navbar>

  
  <div class="container mt-3">
    
      <mat-form-field class="w-100">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Cupón de descuento" #input>
      </mat-form-field>

      <h4 class="text-center">Total: {{dataSource.data.length}} cupones</h4>
      
      <div class="catalog">
        @if(!dataSource.filteredData || dataSource.filteredData.length == 0){
          <div>
            <h5><b>Aquí veras los cupones que intercambies por puntos</b></h5>
          </div>
        }
        @for (data of dataSource.filteredData; track data) {
          <div class="my-2 cupon-container">
            <mat-card (click)="abrirModal(data)">
                <mat-card-header>
                    <mat-card-title>{{data.coupon?.title}} <i>({{data.coupon?.discount}})</i></mat-card-title>
                    <mat-card-subtitle>{{data.coupon?.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <span class="px-2 price"><b>Costo: {{data.costInPoints}} puntos</b></span>
                  <span class="px-2 estado" [ngClass]="{
                    'estado-adquirido': data.status === 'ADQUIRIDO',
                    'estado-usado': data.status === 'USADO',
                    'estado-vencido': data.status === 'EXPIRADO'
                    }">{{ data.status === 'EXPIRADO' ? 'VENCIDO' : data.status }}</span>
                
                  
                </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
      

  </div>
  <app-modal-cupon></app-modal-cupon>