<app-navbar></app-navbar>
<div class="container mt-3">
  <mat-toolbar>
    <span>Modificar Entidad</span>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name">
      @if (form.get('name')!.hasError('required')) {
        <mat-error>Ingrese un nombre</mat-error>
      }
    </mat-form-field>
    
  <mat-form-field>
  <mat-label>Provincia</mat-label>
  <mat-select formControlName="province" required>
    <mat-option *ngFor="let prov of provincesList" [value]="prov.name">
      {{ prov.name }}
    </mat-option>
  </mat-select>

</mat-form-field>


    <mat-form-field>
      <mat-label>Localidad</mat-label>
      <input matInput placeholder="Localidad" formControlName="city">
     
    </mat-form-field>


    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>

    <button class="btn btn-success"  type="submit">Guardar</button>
    <a type="button"  [routerLink]="['/listar-entidades']" style="margin-left: 10px;" class="btn btn-danger">Cancelar</a>

  </form>
  
</div>
