<!-- Button trigger modal -->

  <!-- Modal -->
  <div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Punto Verde: {{data.name}} </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Dirección: {{data.address}}</h1>
          <h2>Horario: {{data.description}}</h2>
          <h2>Contacto:</h2>
          <ul>
            <li><b>Email: {{data.email}}</b> </li>
            <li><b>N° de teléfono: {{data.phoneNumber}}</b> </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>