<app-navbar></app-navbar>
<div class="container mt-3">
  <mat-toolbar>
    <span>Registrar Entidad</span>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name">
      @if (form.get('name')!.hasError('required')) {
        <mat-error>Ingrese un nombre</mat-error>
      }
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="province" required>
        @for (prov of provincesList; track prov) {
          <mat-option [value]="prov.name">{{prov.name}}</mat-option>
        }
      </mat-select>
      @if (form.get('province')!.hasError('required')) {
        <mat-error>Selecciona una provincia</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Localidad</mat-label>
      <input matInput placeholder="Localidad" formControlName="city">
      @if (form.get('city')!.hasError('required')) {
        <mat-error>Ingrese una localidad</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Contraseña" type="password" formControlName="password">
      @if (form.get('password')!.hasError('required')) {
        <mat-error>Ingrese una contraseña</mat-error>
      }
      @if (!form.get('password')!.hasError('required') && form.get('password')!.invalid) {
        <mat-error>La contraseña debe tener 8 caracteres (1 mayuscula y 1 caracter especial)</mat-error>
      }
    </mat-form-field>

    <button class="btn btn-success"  type="submit">Guardar</button>
    <a type="button"  [routerLink]="['']" style="margin-left: 10px;" class="btn btn-danger">Cancelar</a>

  </form>
  
</div>
