<div class="h-100 w-100" style="background-color: #e9ffd1;">

    <mat-drawer-container class="h-100 w-100"  autosize>

     

        <div class="header">
            <h1 style="color: #fff; font-weight: 900;">Bienvenido Manuel</h1>
            <div class="select-container">
                <mat-form-field class="w-100">
                    <mat-label>Punto Verde Actual</mat-label>
                    <mat-select [formControl]="ptoVerde" name="ptoVerde">
                        @for (pv of listPtoVerde; track pv) {
                            <mat-option [value]="pv.id">{{pv.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <mat-drawer #buzon mode="over" [position]="'end'">
            <p>Buzón</p>
        </mat-drawer>
        <mat-drawer #menu mode="over" [position]="'start'">
            <p>Menu</p>
        </mat-drawer>
    


        <div class="body">
            <mat-list>
                <div mat-subheader>Historial</div>
                <mat-list-item>
                    <div class="listIcon" matListItemAvatar><mat-icon>arrow_upward</mat-icon></div>
                    <div matListItemTitle>+6000 pts</div>
                    <div matListItemLine>2 kilos de Plástico</div>
                    <div matListItemLine>24/08/2024 17:52</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="listIcon" matListItemAvatar><mat-icon>arrow_upward</mat-icon></div>
                    <div matListItemTitle>+2500 pts</div>
                    <div matListItemLine>2 kilos de Carton</div>
                    <div matListItemLine>20/08/2024 20:18</div>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="menu-footer">
            <div>
                <button mat-mini-fab>
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
            <div>
                <button mat-fab>
                    <mat-icon>recycling</mat-icon>
                </button>
            </div>
            <div>
                <button mat-mini-fab (click)="editResponsible()">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </div>
    
    </mat-drawer-container>

</div>


