<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon>home</mat-icon>
                home
            </mat-list-item>
            <mat-list-item>
                <mat-icon>home</mat-icon>
                home
            </mat-list-item>
            <mat-list-item>
                <mat-icon>home</mat-icon>
                home
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>