<div #viewMapContainer class="w-100 h-100 map-wrap">
    <google-map
    [width]="anchoVariable"
    [height]="height"
    [center]="center"
    [zoom]="zoom"
    [mapId]="'iuhd8q3hsdads'"
    >
    @if(PuntoVerdePinElement && localAdheridoPinElement){
        @for (pv of puntosVerdes; track pv) {
            <map-advanced-marker [position]="coordToPosition(pv)" [options]="getPuntoVerdeMarkerOptions(pv)"></map-advanced-marker>
        }
        @for (la of localesAdheridos; track la) {
            <map-advanced-marker [position]="coordToPosition(la)" [options]="getLocalAdheridoMarkerOptions(la)"></map-advanced-marker>
        }
    }
    </google-map>
</div>