<div #inputMapContainer class="w-100 h-100">
    @if(markerOptions && markerOptions.content){
        <google-map
        width="anchoVariable"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="selectCoords($event)"
        [mapId]="'iuhd8q3hsdad'"
        >
        <map-advanced-marker [position]="position" [content]="markerOptions.content"></map-advanced-marker>
    
        </google-map>
        <!--
        <p>{{position.lat}}</p>
        <p>{{position.lng}}</p>-->
    }
</div>