<div class="h-100 w-100" style="background-color: #4f973d;">
    <div class="body">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <h1>Bienvenido!</h1>

            <mat-form-field class="w-100">
                <mat-label>Usuario</mat-label>
                <span matTextPrefix class="input-icon"><mat-icon>person</mat-icon></span>
                <input type="text" matInput placeholder="Juan Perez" formControlName="username">
            </mat-form-field>

            <mat-form-field class="w-100 mb-3">
                <mat-label>Contraseña</mat-label>
                <span matTextPrefix class="input-icon"><mat-icon>lock</mat-icon></span>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="*********" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint><a href="#">Olvidé mi Contraseña</a></mat-hint>
            </mat-form-field>

            <mat-checkbox [color]="'primary'">Mantener sesión iniciada!</mat-checkbox>

            
            <p class="p-4">
                <button mat-raised-button class="w-100" type="submit" [disabled]="form.invalid">Ingresar</button>
            </p>

        </form>
    </div>
    <div class="footer">
        <p>No tengo un Usuario</p>
    </div>
</div>