<div class="h-100 w-100" style="background-color: #3dad55;">
    <div class="body">

        <form action="">
            
            <h1>Bienvenido!</h1>

            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <span matTextPrefix><mat-icon>person</mat-icon></span>
                <input type="text" matInput placeholder="Juan Perez">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <span matTextPrefix><mat-icon>lock</mat-icon></span>
                <input type="password" matInput placeholder="*********">
                <mat-hint><a href="#">Olvide mi Contraseña</a></mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <mat-checkbox>Mantener sesión iniciada!</mat-checkbox>

            <button mat-raised-button>Ingresar</button>

        </form>
    </div>
    <div class="footer">
        <p>No tengo un Usuario</p>
    </div>
</div>