.body{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 15vh;
    border-radius: 80% 80% 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    color: #4f973d;
}

form{
    width: 85%;
    max-width: 400px;
    text-align: center;
}
form h1{
    font-size: xxx-large;
    font-weight: 200;
    color: #fff;
    margin-bottom: 3rem;
}
form a{
    color: #fff;
}
form .input-icon{
    margin-right: 10px;
}