
    
     <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img  class="img2" style="width: 20vh;" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
       
           
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/listar-entidades']">Listar entidades</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/listar-responsables']">Listar Responsables</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/registrar-entidad']">Registrar Entidad</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/registrar-responsable']">Registrar Responsable</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/registrar-vecino']">Registrar Vecino</a>
              </li>
             
            </ul>
            <!-- <a class="btn btn-brand ">Login</a> -->
          </div>
        </div>
      </nav>
    
      <!--Hero-->
      <section id="hero" class="min-vh-100 d-flex align-items-center text-center" >
        <div class="container"  >
            <div class="row">
                <div class="col-12" >
                    <h1 class="text-uppercase text-white fw-semibold display-1" style="font-size: 3em;" >GREENBIN</h1>
                    <h5 class="text-white mt-2 mb-4" >Proyecto Final</h5>
                   
                </div>
            </div>
        </div>
    </section>
    
