<section id="first-section" class="w-100 h-100 position-relative d-flex">

  <div id="nav" class="top-0 l-0  position-absolute py-3">
    <div class="d-flex align-items-center gap-3 color-texto-resaltado">
      <mat-icon fontIcon="home"></mat-icon>
      <h3 class="m-0 fw-bold">GreenBin</h3>
    </div>
  </div>

  <div id="section-content" class="text-center position-relative m-auto">
    <div class="presentacion">
      <h1>Recicla tu basura junto con</h1>
      <h1 class="color-texto-resaltado">GREENBIN</h1>
      <p>Somos una comunidad con ganas de fomentar el reciclado y queremos invitarte a formar parte</p>
    </div>
    <div class="datos py-3">
      <div class="row m-0">
        <div class="col">
          <div class="card-info">
            <p class="m-0 card-dato color-texto-resaltado">+4000</p>
            <p class="m-0 card-titulo">Usuarios</p>
            <p class="m-0 card-descripcion">Ya están reciclando con nosotros</p>
          </div>
        </div>
        <div class="col">
          <div class="card-info">
            <p class="m-0 card-dato color-texto-resaltado">+10</p>
            <p class="m-0 card-titulo">Localidades</p>
            <p class="m-0 card-descripcion">Se unieron a nuestro movimiento</p>
          </div>
        </div>
        <div class="col">
          <div class="card-info">
            <p class="m-0 card-dato color-texto-resaltado">+40Tn</p>
            <p class="m-0 card-titulo">CO₂</p>
            <p class="m-0 card-descripcion">llevamos reciclados asda asdasdasd</p>
          </div>
        </div>
      </div>
    </div>
    <div id="acciones" class="mt-4">
      <div class="buttons-container d-flex justify-content-center">
        <button class="btn btn-success">Ingresar</button>
        <button class="btn btn-light">Administrador</button>
      </div>
    </div>
  </div>
  <div id="backdrop" class="position-absolute vw-100 vh-100 start-0"></div>
  <div id="banner" class="bottom-0 end-0 position-absolute">
    
  </div>
</section>