.body{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.body h1{
    font-size: xxx-large;
    font-weight: 200;
    margin-bottom: 3rem;
}
.body h1,.body h4{
    color: #fff;
    text-align: -webkit-center;
}
.body-content{
    height: 65%;
    text-align: -webkit-center;
}
.footer{
    width: 100%;
    height: 15vh;
    border-radius: 80% 80% 0 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    color: #4f973d;
}
.footer p {
    transition: all 300ms;
}
.footer:hover > p.create-user{
    font-size: 24px;
}

form{
    width: 85%;
    max-width: 400px;
    text-align: center;
}
form a{
    color: #fff;
}
form .input-icon{
    margin-right: 10px;
}
.back-button{
    position:absolute;
    color: #fff;
    top: 10px;
    left: 10px;
}
















.buttons-container{
    display: grid;
    gap: 20px;
    justify-content: center;
}
.button-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-card{
    width: 300px;
    height: 100px;
    display: flex;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.22);
    transition: all 300ms;
}
.button-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.button-card, .button-card img{
    border-radius: 1rem;
}
.button-card-image{
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.button-card-image mat-icon{
    font-size: 70px;
    width: 70px;
    height: 70px;
}
.button-card-content{
    position: absolute;
    text-align: end;
    padding: 10px;
    bottom: 0;
    right: 0;
}
.button-card-content p{
    margin: 0;
}
.button-card-content p:first-child{
    color: #888888;
}
.button-card-content p:last-child{
    font-size: 130%;
    font-weight: bold;
    transition: all 300ms;
}
.button-card:hover > .button-card-content p:last-child{
    font-size: 150%;
}