.header{
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 45%;
    //background-color: #00a884b3;
    background-color: #61c98e;
    border-radius: 0 0 10rem 10rem;
    box-shadow: 0px 0px 40px #bebebe,
             0px 0px 40px #ffffff;
}
mat-toolbar{
    background-color: #ffffff00;
    position: absolute;
    top: 0;
    color: #fff;
}
.body {
    padding-bottom: 80px;
}
mat-list-item .listIcon{
    background-color: rgb(41, 41, 41);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    background-color: #4caf50;
    z-index: 100;
}

.menu-footer button{
    background-color: #fafafa00;
}

.spacer{
    flex: 1 1 auto;
}