<div class="h-100 w-100" style="background-color: #e9ffd1;">
 
    
    <mat-drawer-container class="h-100 w-100"  autosize>

        <mat-toolbar>
            <button mat-icon-button (click)="menu.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <span><h1 style="color: #fff; font-weight: 900;">GreenBin</h1></span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="buzon.toggle()">
              <mat-icon>notifications</mat-icon>
            </button>
        </mat-toolbar>
        <div class="header">
            <h1 style="color: #fff; font-weight: 900;">Hola, {{name}} 🎉</h1>
        </div>
        <mat-drawer #buzon mode="over" [position]="'end'">
            <p>Buzón</p>
        </mat-drawer>
        <mat-drawer #menu mode="over" [position]="'start'">
            <app-sidenav></app-sidenav>
        </mat-drawer>

        <div class="body">
            <mat-list>
                <div mat-subheader>Historial de cupones</div>
                @if (historial.length === 0) {
                <mat-list-item>
                    <div matListItemTitle>No hay transacciones aún</div>
                </mat-list-item>
                }
                @for (item of historialVisible; track item) {
                <mat-list-item>
                    <div class="listIcon" matListItemAvatar>
                        <mat-icon>local_activity</mat-icon>
                    </div>
                    <div matListItemTitle>{{ item.puntos }} pts - {{ item.estado }}</div>
                    <div matListItemLine>{{ item.descripcion }}</div>
                    <div matListItemLine>{{ item.fecha | date:'dd/MM/yyyy HH:mm' }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                }
                @if (historial.length > LIMITE) {
                <mat-list-item (click)="toggleHistorial()" style="cursor:pointer; text-align:center">
                    <div matListItemTitle style="color: #4caf50">
                        {{ mostrarTodo ? 'Ver menos' : 'Ver historial completo' }}
                    </div>
                </mat-list-item>
                }
            </mat-list>
        </div>
    
    </mat-drawer-container>

</div>


