@use '@angular/material' as mat;
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


// Define la tipografía personalizada usando Rubik
$my-custom-typography: mat.define-typography-config(
  $font-family: 'Mulish, sans-serif',
);
@include mat.all-component-typographies($my-custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: "Mulish", sans-serif; background: #61c98e;}
/*
colores que estan buenos para fondo
background: rgba(9,121,61)
background-color: #4f973d;
*/
