<div class="tabbar">
  @for (item of items; track $index) {
    @if (item.isFab && !item.route) {
      <!-- FAB sin ruta → emite evento para que el layout decida -->
      <button class="tab-item fab" (click)="onItemClick(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    } @else if (item.isFab) {
      <!-- FAB con ruta → navega -->
      <a class="tab-item fab" [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
      </a>
    } @else {
      <a class="tab-item" [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    }
  }
</div>
