<app-navbar [title]="'Registrar'"></app-navbar>
<div class="container mt-3">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="firstname">
      @if (form.get('firstname')!.hasError('required')) {
        <mat-error>Ingrese un nombre</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="lastname">
        @if (form.get('lastname')!.hasError('required')) {
          <mat-error>Ingrese un apellido</mat-error>
        }
    </mat-form-field>
    

    <mat-form-field>
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Nombre de Usuario" formControlName="username">
        @if (form.get('username')!.hasError('required')) {
          <mat-error>Ingrese un Nombre de Usuario</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Ex. pat@example.com">
        @if (form.get('email')!.hasError('email') && !form.get('email')!.hasError('required')) {
          <mat-error>Ingrese un email válido</mat-error>
        }
        @if (form.get('email')!.hasError('required')) {
          <mat-error>Ingrese un email</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Contraseña" type="password"  formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
   <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
   </button>
      @if (form.get('password')!.hasError('required')) {
        <mat-error>Ingrese una contraseña</mat-error>
      }
      @if (!form.get('password')!.hasError('required') && form.get('password')!.invalid) {
        <mat-error>La contraseña debe tener 8 caracteres (1 mayuscula y 1 caracter especial)</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
        <mat-label>DNI</mat-label>
        <input type="number" matInput placeholder="DNI" formControlName="dni">
        @if (form.get('dni')!.hasError('required')) {
          <mat-error>Ingrese un DNI</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input type="date" matInput data-date-format="dd/mm/yyyy" formControlName="birthdate">
        @if (form.get('birthdate')!.invalid) {
          <mat-error>Ingrese una fecha de nacimiento válida</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <span matTextPrefix>+54 &nbsp;</span>
        <input type="tel" matInput placeholder="3533-4039876" formControlName="phoneNumber">
        @if (form.get('phoneNumber')!.invalid && !form.get('phoneNumber')!.hasError('required')) {
          <mat-error>Ingrese un teléfono válido</mat-error>
        }
        @if (form.get('phoneNumber')!.hasError('required')) {
          <mat-error>Ingrese un teléfono</mat-error>
        }
    </mat-form-field>

    <button mat-raised-button class="w-100" [disabled]="form.invalid" type="submit">Guardar</button>

  </form>
  
</div>
